
<table id="admin-user-options">
    <tr>
        <th>name</th>
        <th>role</th>
        <th>action</th>
        <th>option</th>
    </tr>
    <%= render @users || "There are no user accounts!" %>
</table>
